.imagesection {
    display: flex; 
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

body {
    background-color:#32325b;
}
.buttonsection {
    display: flex; 
    justify-content: center;
}
button {
    cursor: pointer;
    color: #fff;
    background-color: #32325b;
    border-color: #32325b;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding-left: 6px 12px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 1rem;
    margin-right: 1rem;
}

button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;

}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    padding-left: 1rem;
    padding-right: 1rem;
}



  